/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

.book-menu {
    background-color: #1c4130;
    color: #ffffff;
    a.active {
        background-color: #5ab261;
        color: #ffffff;
    }
}
